cvxopt
h5py
keras
librosa
matplotlib
numba
numpy
openpyxl
pandas
prettytable
scikit-learn
scipy
spafe
speechpy
tensorflow
tqdm
Streamlit
pydub
torch
Jinja2
wheel
tensorboardX
transformers
attrs
wheel
Pillow
setuptools
packaging
pyparsing
BanglaSpeech2Text
pydub
natsort
Streamlit